/*PAGINA INDEX*/
/*Importar google font
@import url("https://fonts.google.com/specimen/Open+Sans/tester?query=open+sans&icon.style=Rounded");
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Open sans", sans-serif;
}
body{
    width: 100%;
    height: 100vh;
    margin: 0;
    padding: 0;
    background-image: url("../img/fondo-index2.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    box-sizing: border-box;
}
img{
    background-size: cover;
    background-attachment: fixed;
}
/*Navegación
header{
    position: fixed;
    width: 100%;
    left: 0;
    top: 0;
    padding: 0 10px;
}

.navbar{
    display: flex;
    padding: 22px 0;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    justify-content: space-between;
}

.navbar .menu-btn{
    display: none;
    color: #fff;
    cursor: pointer;
    font-size: 1.5rem;
}

.navbar .logo img{
    width: 40px;
    border-radius: 50%;
}

.navbar .logo{
    font-size: 1.7rem;
    font-weight: 600;
    color: #e8e8e8;
}

.navbar .links{
    display: flex;
    list-style: none;
    gap: 35px;
}

.navbar .links .close-btn{
    display: none;
    color: #000;
    cursor: pointer;
    position: absolute;
    right: 20px;
    top: 20px;
    font-size: 1.5rem;
}

.navbar .links a{
    text-decoration: none;
    font-size: 1.1rem;
    font-weight: 500;
    color: #ff0000a7;
}

.navbar .logo{
    display: flex;
    gap: 10px;
    align-items: center;
    text-decoration: none;
}

.navbar .links a:hover{
    color: #00000085;
}

.navbar .login-btn{
    border: none;
    outline: none;
    color: rgba(255, 119, 0, 0.887);
    font-size: 1rem;
    font-weight: 600;
    padding: 10px 18px;
    border-radius: 3px;
    cursor: wait;
    background: rgba(rgba(255, 174, 0, 0.646));
}

.blur-bg-overlay{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    pointer-events: none;
    backdrop-filter: blur(5px);
    transition: 0.1s ease;
}

.show-form-popup .blur-bg-overlay{
    opacity: 1;
    pointer-events: auto;
}

.form-popup{
    position: fixed;
    top: 50%;
    left: 50%;
    max-width: 720px;
    width: 100%;
    opacity: 0;
    pointer-events: none;
    background: #fff;
    border: 2px solid #fff;
    transform: translate(-50%, -100%);
}

.show-popup .form-popup{
    opacity: 1;
    pointer-events: auto;
    transform: translate(-50%, -50%);
    transition: transform 0.3 ease, opacity 0.1s;
}

.form-popup .close-btn{
    position: absolute;
    top: 12px;
    right: 12px;
    color: #6d6c6c;
    cursor: pointer;
}

.form-popup .form-box{
    display: flex;
}

.form-box .form-details{
    max-width: 330px;
    width: 100%;
    color: #ffffffcc;
    display: flex;
    padding: 0 20px;
    text-align: center;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.login .form-details{
    background: url("../img/fondo-form.jpg");
    background-size: cover;
    background-position: center;
}

.signup .form-details{
    background: url("../img/fondo-form1.jpg");
    background-size: cover;
    background-position: center;
}

.form-box h2{
    text-align: center;
    margin-bottom: 30px;
}

.form-box .form-content{
    width: 100%;
    padding: 35px;
}

form .input-field{
    height: 50px;
    width: 100%;
    margin-top: 20px;
    position: relative;
}

form .input-field input{
    width: 100%;
    height: 100%;
    outline: none;
    padding: 0 15px;
    font-size: 0.95rem;
    border-radius: 3px;
    border: 1px solid #717171;
}

.input-field input:focus{
    border-color: red;
}

.input-field input:is(:focus, :valid){
    padding: 16px 15px 0;
}

form .input-field label{
    position: absolute;
    top: 50%;
    left: 15px;
    color: #717171;
    pointer-events: none;
    transform: translateY(-50%);
    transition: 0.2s ease;
}

.input-field input:is(:focus, :valid) ~ label{
    color: rgb(255, 0, 0);
    font-size: 0.75rem;
    transform: translateY(-120%);
}

.form-box a{
    color: rgb(20, 24, 246);
    text-decoration: none;
}

.form-box a:hover{
    text-decoration: underline;
}

.form-box :where(.forgot-pass, .policy-text){
    display: inline-flex;
    margin-top: 14px;
    font-size: 0.95rem;
}

form button{
    width: 100%;
    outline: none;
    border: none;
    font-size: 1rem;
    font-weight: 600;
    padding: 14px 0;
    border-radius: 3px;
    margin: 25px 0;
    color: #fff;
    cursor: pointer;
    background: rgb(245, 122, 143);
    transition: 0.2s ease;
}

.form-box .forgot-pass{
    display: inline-flex;
    margin-top: 14px;
    font-size: 0.95rem;
}

.form-popup button:hover{
    background: rgb(162, 31, 52);
}

.form-box .bottom-link{
    text-align: center;
}

.form .signup,
.form-popup.show-signup .login{
    display: none;
}

.form-popup.show-signup .signup{
    display: flex;
}

.signup .policy-text{
    display: flex;
    align-items: center;
}

.signup .policy-text input{
    width: 14px;
    height: 14px;
    margin-right: 7px;
}

@media (max-width: 950px){
    .navbar :is(.menu-btn, .links .close-btn){
        display: block;
    }
    .navbar{
        padding: 15px 0;
    }
    .navbar .logo img{
        display: none;
    }
    .navbar .logo h2{
        font-size: 1.4rem;
    }
    .navbar .links{
        position: fixed;
        left: -100%;
        top: 0;
        width: 100%;
        height: 100vh;
        display: block;
        padding-top: 60px;
        text-align: center;
        background: url("../img/fondo-index3.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        transition: 0.2s ease;
    }
    .navbar .links.show-menu{
        left: 0;
    }
    .navbar .links a{
        display: inline-flex;
        color: rgb(174, 72, 0);
        margin: 20px 0;
        font-size: 1.2rem;
    }
    .navbar .login-btn{
        font-size: 0.9rem;
        padding: 7px 10px;
    }
}

@media(max-width: 760px){
    .form-popup{
        width: 95%;
    }
    .form-box .form-details{
        display: none;
    }
    .form-box .form-content{
        padding: 30px 20px;
    }
}

/*MENU solo + fondo*/
/*
.menu{
    position: absolute;
    top: 50%;
    left: 15%;
    bottom: 45%;
    transform: translateY(-50%);
    z-index: 10;
    width: min-content;
}
.menu a{
    display: block;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 5vmin;
    text-decoration: none;
    text-transform: uppercase;
    color: var(--menu);
    padding: .5rem 0;
    transform: scale(0.95);
    opacity: .25;
    transition: scale 550ms linear;
    opacity: 250ms linear;
}
.menu a:first-of-type{
    transform: scale(1);
    opacity: 1;
}
.menu:hover a:not(:hover){
    transform: scale(0.95);
    opacity: .25;
}
.menu a:hover{
    transform: scale(1);
    opacity: 1;
}
.navindex{
    color: #e8e8e8;
}
/*estilo hover
.navbar a{
    text-decoration: none;
    text-align: left;
}
.navbar a:hover{
    color: #aeaeae8f;
    font-size: 3rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}*/
/*estilo al menu desplegable
.dropwdown{
    display: inline-block;
    position: relative;
}
.dropdown-content{
    display: none;
    position: absolute;
    min-width: 160px;
    box-shadow:  0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    overflow: auto;
    width: 325px;
    }

.dropdown-content a{
    padding: 5px;
    text-decoration: none;
    display: block;
    text-align: left;
}*/
/*muestra el logo desplegable al pasar el cursor
.dropdown:hover .dropdown-content{
    display: block;
}
*/

/*PAG-AUDI*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.audi-body{
    overflow: auto;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f4f4f4;
    font-family: Arial, sans-serif;
}

.timeline-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo-container img{
    margin-top: 150px;
    width: 150px;
    animation: bounce 2s infinite; /*Animación al logo*/

}

.timeline-title{
    margin-top: 20px;
    font-size: 24px;
    font-weight: bold;
    text-transform: uppercase;
    animation: fadeIn 2s ease-in-out;
    color: #0e0e0e;
}

/*Animación de rebote para el logo*/
@keyframes bounce{
    0%, 20%, 50%, 80%, 100%{
        transform: translateY(0);
    }
    40% {
        transform: translateY(-20px);
    }
    60% {
        transform: translateY(-10px);
    }
}

/*Animación suave para el texto*/

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.section {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 20px;
    max-height: 100vh;
    overflow-y: auto;
    padding: 20px;
}

.card {
    border-radius: 8px;
    position: relative;
    cursor: pointer;
    overflow: hidden;
    transition: transform 0.4s ease-in-out;
}

.card .image-box {
    width: 100%;
    height: auto;
    border-radius: inherit;
}

.card .image-box img {
    width: 100%;
    height: auto;
    object-fit: cover;
    object-position: center;
    border-radius: inherit;
    transition: 0.5s ease-in-out;
}

.card::after {
    content: "";
    position: absolute;
    inset: 0;
    border: 2px solid rgb(237, 236, 236);
    border-radius: inherit;
    opacity: 0;
    transition: 0.4s ease-in-out;
}

.card:hover {
    transform: scale(1.01); /* Aumenta el tamaño de la tarjeta al 105% */
    transform:  translateY(-10px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.card:hover img {
    filter: grayscale(1) brightness(0.4);
}


.card:hover::after {
    opacity: 1;
    inset: 10px;
}

.content {
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 10px;
    background: rgba(0, 0, 0, 0.5);
    color: rgba(245, 245, 245, 0.819);
    text-align: center;
}

.title-h2, .p-class {
    font-size: 1rem;
}

.card:hover .p-class {
    transform: scale(1.1); /* Aumenta el tamaño del texto al 110% */
    transition: transform 1s ease-in-out; /* Transición suave para el zoom */
}


.b-class {
    font-size: 1rem;
}

.li-class {
    color: rgba(245, 245, 245, 0.819);
    font-size: 0.5rem;
}

.li-class1 {
    font-size: 1rem;
    color: rgba(245, 245, 245, 0.819);
}

.li-class12 {
    color: rgba(245, 245, 245, 0.819);
    font-size: 0.9rem;
}


@media (max-width:768px) {
    .timeline-container{
        text-align: center;
    }
    .logo-container img {
        margin-top: 50px;
        width: 120px;
    }
    .timeline-title{
        margin-top: 15px;
        font-size: 20px;
    }
    .section{
        grid-template-columns: 1fr;
        gap: 10px;
    }
    .card{
        border-radius: 4px;
    }
    .card .image-box img{
        height: 200px;
    }
    .content{
        padding: 5px;
    }
    .title-h2, .p-class{
        font-size: 0.9rem;
    }
    .li-class, .li-class1, .li-class12{
        font-size: 0.8rem;
    }
}


/*PAGINA BMW
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}*/
/*PAGINA LAMBO
*{
    width: 100%;
    height: 100vh;
    margin: 0;
    padding: 0;
}

header{
    position: fixed;
    width: 100%;
    left: 0;
    top: 0;
    padding: 0 10px;
}*/
/*
.navbar{
    display: flex;
    padding: 22px 0;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    justify-content: space-between;
}

.navbar .logo img{
    width: 40px;
    border-radius: 50%;
}*/
/*
body{
    margin: 0;
    padding: 0;
    background-image: url("../img/fondo-pag-lambo4.jpg");
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    box-sizing: border-box;
    background-position: center;
}*/


/* Estructura General y Reseteo */
@import url(https://fonts.google.com/specimen/Open+Sans/tester?query=open+sans&icon.style=Rounded);
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
}
body {
    width: 100%;
    height: 100vh;
    background-image: url(../img/fondo-index2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

/* Navegación */
header {
    position: fixed;
    width: 100%;
    left: 0;
    top: 0;
    padding: 0 10px;
    z-index: 1000;
    background-color: rgba(0, 0, 0, 0.7);
}

.navbar {
    display: flex;
    padding: 15px 0;
    align-items: center;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
}

.navbar .logo img {
    width: 40px;
    border-radius: 50%;
}

.navbar .logo h2 {
    font-size: 1.4rem;
    color: #e8e8e8;
}

.navbar .links {
    display: flex;
    list-style: none;
    gap: 20px;
}

.navbar .links a {
    text-decoration: none;
    font-size: 1.1rem;
    font-weight: 500;
    color: #ff0000a7;
}

.navbar .links a:hover {
    color: #00000085;
}

/* Menú Desplegable */
.nav-item {
    position: relative;
}

.dropdown-content {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: rgba(0, 0, 0, 0.8);
    min-width: 160px;
    z-index: 1;
    width: 325px;
}

.dropdown-content a {
    color: #fff;
    padding: 10px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #ff0000a7;
}

.nav-item:hover .dropdown-content {
    display: block;
}

/* Mobile First Styles */
.navbar .menu-btn {
    display: block;
    color: #fff;
    cursor: pointer;
    font-size: 1.5rem;
}

.navbar .links {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background: url("../img/fondo-index3.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

.navbar .links.show-menu {
    left: 0;
}

.navbar .login-btn {
    display: none;
}
@media (max-width: 949px) {
    .navbar .links {
        position: fixed;
        left: -100%;
        top: 0;
        width: 100%;
        height: 100vh;
        display: block;
        padding-top: 60px;
        text-align: center;
        background: url("../img/fondo-index3.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        transition: left 0.3s ease;
    }

    .navbar .links a {
        display: block;
        color: #aeaeae;
        margin: 20px 0;
        font-size: 1.2rem;
    }

    .navbar .menu-btn {
        display: block;
        color: #fff;
        cursor: pointer;
        font-size: 1.5rem;
    }

    .dropdown-menu {
        left: 50%;
        transform: translateX(-50%);
        width: 20%;
    }
    }

@media (min-width: 950px) {
    .navbar .menu-btn {
        display: none;
    }

    .navbar .links {
        display: flex;
        position: static;
        flex-direction: row;
        background: none;
    }

    .navbar .login-btn {
        display: inline-block;
        border: none;
        outline: none;
        color: rgba(255, 119, 0, 0.887);
        font-size: 1rem;
        font-weight: 600;
        padding: 10px 18px;
        border-radius: 3px;
        cursor: pointer;
        background: rgba(255, 174, 0, 0.646);
    }

    .navbar .login-btn:hover {
        background: rgba(255, 74, 74, 0.7);
    }
}

/* Para Formas y Fondos */
.blur-bg-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    pointer-events: none;
    backdrop-filter: blur(5px);
    transition: 0.1s ease;
}

.show-form-popup .blur-bg-overlay {
    opacity: 1;
    pointer-events: auto;
}

.form-popup {
    position: fixed;
    top: 50%;
    left: 50%;
    max-width: 720px;
    width: 100%;
    opacity: 0;
    pointer-events: none;
    background: #fff;
    border: 2px solid #fff;
    transform: translate(-50%, -100%);
}

.show-popup .form-popup {
    opacity: 1;
    pointer-events: auto;
    transform: translate(-50%, -50%);
    transition: transform 0.3s ease, opacity 0.1s;
}

/* Responsive para tabletas */
@media (max-width: 950px) {
    .navbar .logo img {
        display: none;
    }

    .navbar .login-btn {
        font-size: 0.9rem;
        padding: 7px 10px;
    }
}

/* Responsive para móviles */
@media (max-width: 760px) {
    .form-popup {
        width: 95%;
    }

    .form-box .form-details {
        display: none;
    }

    .form-box .form-content {
        padding: 30px 20px;
    }
}

/*PAGINA LAMBORGHINI*/

.main-bg {
    background: url("../img/fondo-pag-lambo-4.jpg");
    font-family: Arial, sans-serif;
    padding: 0;
    margin: 0;
    background-repeat: repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.div{
    width: 80%;
    margin: 0 auto;
}

.timeline {
    position: relative;
    padding: 20px;
    list-style: none;
}

.timeline-item {
    position: relative;
    margin-bottom: 20px;
    padding-left: 60px;
}

.timeline-item::before{
    content: "";
    position: absolute;
    left: 30px;
    top: 0;
    width: 20px;
    height: 20px;
    background-color: #333;
    border-radius: 50%;
}

.image-toggle-btn {
    background-color: #f4f4f4;
    border: 1px solid #ccc;
    padding: 5px 10px;
    cursor: pointer;
    margin-top: 10px;
}

.timeline-image{
    width: 100%;
    max-width: 500px;
    margin-top: 10px;
    display: none;
}

.timeline-h1-title{
    color: #ffea00;
    font-size: 2.5rem;
    display: inline-block;
    animation: desplazarTitle 2s infinite;
}

.timeline-h2{
    color: #ffff51;

}

.timeline-p{
    color: #000000;
    background-color: rgba(255, 255, 157, 0.745);
    font-size: 1.2rem;
    padding: 2px 4px;
    display: inline;
    text-decoration: none;
}

.timeline-i{
    text-decoration: solid;
}


.logolambo{
    animation: girarLogo 3s infinite linear;
    margin-bottom: 30px;
}

@keyframes desplazarTitle{
    0%, 100%{
        transform: translateX(0);
    }
    50%{
        transform: translateX(150px);
    }
}

/*Media queries para celular menor a 600px*/
@media (max-width: 600px) {
    .div {
        width: 90%;
    }
    .logolambo{
        width: 150px;
    }
    .timeline-h1-title{
        font-size: 1.5rem;
    }
    .timeline-h2{
        font-size: 1.2rem;
    }
    .timeline-p{
        font-size: 1rem;
    }
    .timeline-item{
        padding-left: 30px;
    }
    .timeline-item::before{
        left: 15px;
    }
    .timeline-image{
        max-width: 100%;
    }
}

/*Media queries para tablets*/
@media (min-width: 601px) and (max-width: 1024px){
    .logolambo{
        width: 200px;
    }
    .div{
        width: 85%;
    }
    .timeline-h1-title{
        font-size: 2rem;
    }
    .timeline-h2{
        font-size: 1.5rem;
    }
    .timeline-p{
        font-size: 1.1rem;
    }
    .timeline-item{
        padding-left: 40px;
    }
    .timeline-item::before{
        left: 20px;
    }
    .timeline-image{
        max-width: 90%;
    }
}

/*Media queries para monitores mayores a 1024px*/
@media (min-width: 1025px) {
    .logolambo{
        width: 250px;
    }
    .div{
        width: 80%;
    }
    .timeline-h1-title{
        font-size: 2.5rem;
    }
    .timeline-h2{
        font-size: 1.8rem;
    }
    .timeline-p{
        font-size: 1.2rem;
    }
    .timeline-item{
        padding-left: 60px;
    }
    .timeline-item::before{
        left: 30px;
    }
    .timeline-image{
        max-width: 500px;
    }
}